/* .admindashboard{

} */
.admindashboard-header {
  background: #14bc7d;
  padding: 40px 20px;
}
.admindashboard-header h1 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}
