/* .admindashboard{

} */
.admindashboard-header {
  background: linear-gradient(45deg, #4a4c6f, #9eb6a8);
  padding: 40px 20px;
}
.admindashboard-header h1 {
  font-family: "Montserrat", sans-serif;
  color: #ffffff;
  font-weight: 500;
  font-size: 28px;
  line-height: 32px;
}
