.blogpage {
  max-width: 800px;
  margin: 0px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  margin-top: 50px;
  margin-bottom: 50px;
}

.blogpage-content h2 {
  font-family: "Poppins";
  font-size: 30px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}
.blogpage-content h3 {
  font-size: 18px;
  margin-bottom: 16px;
  line-height: 24px;
  color: #555;
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
}
.blogpage-content h4 {
  font-size: 20px;
  margin-top: 32px;
  margin-bottom: 16px;
  color: #444;
  font-family: "Plus Jakarta Sans";
  font-weight: 600;
}
.blogpage-content img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  margin-bottom: 20px;
}

.blogpage-content p {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 24px;
  color: #666;
  font-family: "Plus Jakarta Sans";
}

.blogpage-content ul,
.blogpage-content ol {
  margin: 16px 0;
  padding-left: 20px;
  color: #555;
}

.blogpage-content ul li,
.blogpage-content ol li {
  margin-bottom: 8px;
  font-family: "Work Sans";
}





.blogeditor > p {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  margin-bottom: 20px;
}
.blogpage-editorial {
  margin-top: 40px;
}


.blogpage-editorial div label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #191b26;
  margin-bottom: 4px;
}
.blogpage-editorial div input {
  background: transparent;
  outline: none;
  border: 1px solid rgba(25, 27, 38, 0.2);
  padding: 10px 12px;
  display: block;
  font-weight: 400;
  font-size: 15px;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 15px;
  font-family: "Work Sans";
}
.blogpage-editorial div input:focus {
  border-color: #191b26;
}
.blogpage-editorial div textarea:focus {
  border-color: #191b26;
}
.blogpage-editorial div textarea {
  background: transparent;
  outline: none;
  border: 1px solid rgba(25, 27, 38, 0.2);
  padding: 10px 12px;
  display: block;
  font-weight: 400;
  font-size: 15px;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 15px;
  font-family: "Work Sans";
}
.blogpage-editorialbuttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.blogpage-editorialbuttons img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  padding: 2px;
  cursor: pointer;
}
.blogpage-editorialbuttons:hover img {
  filter: contrast(0.5);
}
.blogpage-editorialbuttons button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  border: none;
  background: #656f79;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 6px;
  cursor: pointer;
}
.blogpage-editorialbuttons p {
  font-size: 20px;
  cursor: pointer;
}
