.blogpage {
  padding: 20px;
}
.blogpage-content h1 {
}
.blogpage-content h2 {
  font-size: 26px;
}
.blogpage-content h3 {
  font-size: 16px;
  font-weight: 600;
}
.blogpage-content h4 {
  margin-bottom: 10px;
  font-weight: 600;
}
.blogpage-content img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.blogpage-content p {
  line-height: 22px;
  margin-bottom: 10px;
  word-spacing: 1px;
  font-size: 16px;
}
.blogpage-editorial {
  padding: 20px;
}
.blogpage-editorial {
}
.blogpage-editorial div label {
  display: block;
  font-weight: 500;
  font-size: 16px;
  color: #191b26;
  margin-bottom: 4px;
}
.blogpage-editorial div input {
  background: transparent;
  outline: none;
  border: 1px solid rgba(25, 27, 38, 0.2);
  padding: 10px 12px;
  display: block;
  font-weight: 400;
  font-size: 15px;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 15px;
  font-family: "Work Sans";
}
.blogpage-editorial div input:focus {
  border-color: #191b26;
}
.blogpage-editorial div textarea:focus {
  border-color: #191b26;
}
.blogpage-editorial div textarea {
  background: transparent;
  outline: none;
  border: 1px solid rgba(25, 27, 38, 0.2);
  padding: 10px 12px;
  display: block;
  font-weight: 400;
  font-size: 15px;
  border-radius: 6px;
  width: 100%;
  margin-bottom: 15px;
  font-family: "Work Sans";
}
.blogpage-editorialbuttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.blogpage-editorialbuttons img {
  width: 25px;
  height: 25px;
  object-fit: contain;
  padding: 2px;
  cursor: pointer;
}
.blogpage-editorialbuttons:hover img {
  filter: contrast(0.5);
}
.blogpage-editorialbuttons button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 14px;
  border: none;
  background: #656f79;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 6px;
  cursor: pointer;
}
.blogpage-editorialbuttons p {
  font-size: 20px;
  cursor: pointer;
}
