.gallerysearchbar {
  display: flex;
  align-items: center;
  background: #ffffff;
  padding: 10px 20px;
  border-radius: 42px;
  margin-top: 40px;
}
.gallerysearchbar input {
  outline: none;
  border: none;
  font-size: 16px;
  font-weight: 300;
  padding: 5px 10px;
  width: 300px;
}
.gallerysearchbar > p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  width: 35px;
  height: 100%;
  cursor: pointer;
}
.gallerysearchbar .mediaselect {
  position: relative;
}
.gallerysearchbar .mediaselect .main {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  background: #f7f7f7;
}
.gallerysearchbar .mediaselect:hover .dropdown {
  display: initial;
}
.gallerysearchbar .mediaselect:hover p:nth-child(3) {
  rotate: 180deg;
}
.gallerysearchbar .mediaselect .main h1 {
  font-size: 16px;
  font-weight: 400;
  color: #191b26;
  font-family: "Poppins", sans-serif;
}
.gallerysearchbar .mediaselect .main p:nth-child(1) {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallerysearchbar .mediaselect p:nth-child(3) {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  transition: all 0.3s ease;
}
.gallerysearchbar .mediaselect .dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0px;
  background: white;
  padding: 20px 0px;
  border-radius: 8px;
  width: 150%;
  z-index: 999;
  box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
}

.gallerysearchbar .mediaselect .dropdown div {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 18px;
  margin: 10px 0px;
  cursor: pointer;
  justify-content: center;
}
.gallerysearchbar .mediaselect .dropdown div:hover {
  background-color: #f7f7f7;
}

.gallerysearchbar .mediaselect .dropdown div p {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.gallerysearchbar .mediaselect .dropdown div h1 {
  font-size: 16px;
  font-weight: 400;
  color: #191b26;
}

@media only screen and (max-width: 600px) {
  .gallerysearchbar input {
    width: 200px;
  }
}
@media only screen and (max-width: 400px) {
  .gallerysearchbar .mediaselect .main h1 {
    display: none;
  }
}
