.media-container {
}

.media-container-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: 200px;
  grid-auto-flow: dense;
  padding: 10px;
}
.media-container-grid .wide {
  grid-column: span 2;
}
.media-container-grid .tall {
  grid-row: span 2;
}
.media-container-grid .big {
  grid-row: span 2;
  grid-row: span 2;
}

.media-container-grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-container-grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.media-container-grid-item img:hover {
  filter: contrast(0.8);
}
.media-container-grid-item video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.media-container-button {
  display: flex;
  padding: 10px;
  justify-content: center;
}
.media-container-button button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  border: none;
  background: #00ab6b;
  color: #ffffff;
  padding: 5px 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}
.media-container-button button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
@media only screen and (max-width: 500px) {
  .media-container-grid {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }
}
